/* 20200722 css 수정사항*/

div.textProject_add {}

div.textProject_add div.wrap {
  display: flex;
  justify-content: space-between;
  height: 54px;
  line-height: 54px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  align-items: center;
  padding: 0 20px;
}

div.textProject_add div.wrap article {
  display: flex;
  align-items: center;
  font-size: 14px;
}

div.textProject_add div.wrap article img {
  display: inline-block;
  margin-right: 5px;
}

div.textProject_add div.wrap article:nth-of-type(2) {
  color: #999999;
  position: relative;
}

div.textProject_add div.wrap article:nth-of-type(2) {
  padding-right: 30px;
}

div.textProject_add div.wrap article:nth-of-type(2) .button {
  position: absolute;
  right: -10px;
  top: 65%;
  transform: translateY(-50%);
}

.btnBox {
  text-align: center;
  background: #fff;
  padding: 20px 0 0;
}

.roundInput>input.sm {
  width: 30px !important;
  margin-right: 10px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  text-indent: 5px !important;
}

.roundInput>input.sm::placeholder {
  color: #333;
  font-weight: bold;
}

/* 20200722 css 수정사항*/

.content_info:not(.search_box .datepicker) input {
  opacity: 1;
  display: none;
}

.content_info input:checked+label {
  background: url(../admin_img/bg_radio_gender_on.png) no-repeat;
  opacity: 1;
  padding-left: 22px;
  vertical-align: top;
  font-size: 14px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-position: left center;
  margin-right: 5px;
  display: inline-block;
}

.content_info label {
  background: url(../admin_img/bg_radio_gender_off.png) no-repeat;
  opacity: 1;
  padding: 3px 0;
  padding-left: 22px;
  vertical-align: top;
  font-size: 14px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-position: left center;
  margin-right: 5px;
  display: inline-block;
  /* width: 15px; */ /* height: 15px; */
}

.content_info label.w100 {width: 100%!important;}

.content_info input[type="checkbox"]+label {
  background: url(../admin_img/input_check1_off.png);
  background-repeat: no-repeat;
  background-position: 0px center;
  padding-left: 22px; /* width: 15px; height: 15px; */
}

.content_info input[type="checkbox"]:checked + label {background: url(../admin_img/input_check1_on.png);}

.content_info .field input[type="checkbox"]+label {width: 120px;}

.content_info .detail_sel input[type="checkbox"]+label {width: 120px; margin-bottom: 15px;}

.processCotent .detail_sel .textProject {padding: 15px 10px 0 10px;}

.content_info input[type="checkbox"]:checked + label {
  background: url(../admin_img/input_check1_on.png);
  background-repeat: no-repeat;
  background-position: 0px center;
  padding-left: 22px;
}

.content_info label input, .content_info label label {
  opacity: 1;
}

/* .content_info:not(.search_box) .content {
  box-shadow: 0px 0px 10px #ccc;
} */

.content_info .proLnb {
  display: flex;
  background: #fff;
}

.content_info .proLnb li {
  flex: 1;
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  color: #999;
  border-bottom: 3px solid #999;
  padding: 20px;
  box-sizing: border-box;
  font-weight: 400;
}

.content_info .proLnb li.on {
  color: #f38f1e;
  border-bottom: 3px solid #f38f1e;
}

.content_info .littleTit {
  font-size: 20px;
  padding: 10px 0;
  box-sizing: border-box;
}

.content_info .littleTit2 {
  font-size: 24px;
  box-sizing: border-box;

  float:left;
}

.content_info .notice {
  display: flex;
  align-items: center;
  color: #adadad;
  font-size: 13px;
  margin-left: calc(33.3% + 20px);
  padding-bottom: 50px;
}

.content_info.btnBox {
  padding: 30px 0;
  text-align: center;
}



.processCotent {
  background: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.processCotent .cProcessBox {
  border-bottom: 1px solid #dbdbdb;
}

.processCotent .cProcessBox .cProcess {
  padding: 50px 20px 20px;
  box-sizing: border-box;
  display: flex;
}

.processCotent .cProcessBox .cProcess li {
  flex: 1;
  padding: 15px;
  box-sizing: border-box;
}

.processCotent .cProcessBox .cProcess li .cProcessTit {
  font-size: 34px;
}

.processCotent .cProcessBox .cProcess li .uBar {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 30px;
  height: 2px;
  background: #333;
}

.processCotent .cProcessBox .cProcess li .cPBtnBox {
  border-radius: 30px;
  height: 300px;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 0px 0px 30px #ccc;
}

.processCotent .cProcessBox .cProcess li .cPBtnBox img {
  padding-bottom: 15px;
  box-sizing: border-box;
}

.processCotent .cProcessBox .cProcess li .cPBtnBox .cPBtnBoxTit {
  font-size: 20px;
}

.processCotent .cProcessBox .cProcess li .cPBtnBox .cPBtnBoxDesc {
  padding: 30px 0;
  font-weight: normal;
}

.processCotent .cProcessBox .cProcess li .cPBtnBox .cPBtn {
  padding: 10px 20px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0px 0px 30px #ccc;
}

.processCotent .cProcessBox .cProcess li .cPBtnBox.on {
  color: #fff;
  background-color: #354fb1;
}

.processCotent .cProcessBox .cProcess li .cPBtnBox.on .cPBtn {
  color: #354fb1;
  box-shadow: none;
}

.processCotent .cProcessBox .cProcess li.cPMethodBox {
  flex: 2;
}

.processCotent .cProcessBox .cProcess li.cPMethodBox .cPMethod li {
  margin-bottom: 15px;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px #ccc;
  border-radius: 15px;
  display: flex;
  align-items: center;
  border:2px solid transparent;
}

.processCotent .cProcessBox .cProcess li.cPMethodBox .cPMethod li img {
  display: inline-block;
  margin-right: 5px;
}

.processCotent .cProcessBox .cProcess li.cPMethodBox .cPMethod li.on {
  border: 2px solid #354fb1;
}

.processCotent .textProject {
  padding: 15px 10px;
  margin-bottom: 5px;
  width: 100%;
  border: 1px solid #ddd;
  box-sizing: border-box;
  position: relative;
}

.processCotent .pl20 {padding:15px 20px;}

/* .processCotent .textProject input[type='text'] {padding-left:15px;} */

.processCotent .textProject > p {margin-bottom: 10px;}
.processCotent .textProject > p:last-child {margin-bottom: 0;}

.tPtime {
  display: flex;
  align-items: center;
  padding: 5px 0;
  box-sizing: border-box;
}

.tPtime .selectList {
  display: flex;
  align-items: center;
  width: 78%;
  margin-left: 16px;
}

.tPtime .sel {margin-left:7px;}

.tPtime .selectList.sel span.blank {
  display: inline-block;
  margin: 0 10px;
}

.tPtime .selectList.sel>li {
  flex: 0 1 50px;
  margin-right: 5px;
}

.tPtime .selectList>li {
  flex: 4;
  position: relative;
  margin: 0 5px;
  height: 40px;
  padding: 5px 10px;
  box-sizing: border-box;
}

.tPtime .selectList.sel>li>select {
  width: 62px;
}

.tPtime .selectList>li>select {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: solid 1px #dbdbdb;
  background-color: #ffffff;
  letter-spacing: -0.52px;
  text-align: left;
  color: #333333;
  padding-left: 14px;
  font-weight: bold;
  background: url(../admin_img/bg_smail_sel.png) no-repeat center right 10px;
  background-color: #fff;
  font-weight: 400;
}

.tPtime .cTextInputL {
  flex: 1;
  padding: 5px 0;
  box-sizing: border-box;
  margin-left: 20px;
}

.tPtime>.cTextInput {
  flex: 9;
  margin-right: 20px;
}

.processCotent .textProject.blockList>div {
  padding: 10px 0;
  box-sizing: border-box;
}

.processCotent .textProject.it-check-list {padding: 20px;}
.processCotent .textProject.it-check-list > div {padding: 0;}
.processCotent .textProject.it-check-list > div.chk-box01 {margin-bottom: 20px;}
.processCotent .textProject.it-check-list .it-chk-box {}
.processCotent .textProject.it-check-list .it-chk-box .chk-area > div { width:100%; overflow:hidden; }
.processCotent .textProject.it-check-list .it-chk-box > p {margin-bottom: 10px;}
.processCotent .textProject.it-check-list .it-chk-box > p.desc02 {margin-bottom: 10px; font-size: 14px; color: #666;}
.processCotent .textProject.it-check-list .it-chk-box .chk-area {border:1px solid #ddd; padding: 15px;}
.processCotent .textProject.it-check-list .it-chk-box .chk-area > div {margin-bottom: 10px;}
.processCotent .textProject.it-check-list .it-chk-box .chk-area > div:last-child {margin-bottom: 0;  }
.processCotent .textProject.it-check-list .it-chk-box .chk-area > div:last-child  input[type=text] { width:calc(100% - 130px); float:right; border:1px solid #ddd; }
.processCotent .textProject.it-check-list .chk-box01 .chk-area ul li {margin-bottom: 15px; height: 16px;}
.processCotent .textProject.it-check-list .chk-box01 .chk-area ul li:last-child {margin-bottom: 0;}
.processCotent .textProject.it-check-list .chk-box02 span {margin-right: 20px;}

.processCotent .textProject input[type="text"] {
  display: inline-block;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  border: none;
  font-family: 'Noto Sans KR';
}

.processCotent .textProject input[type="text"].cTextInput {
  background: #f3f3f3;
  border: 1px solid #ddd;
  height: 40px;
  padding-left: 15px;
}

.processCotent .textProject input[type="text"].cTextInput {}

.processCotent .textProject label {
  margin-left: 15px;
  width:auto;
}

.processCotent .textProject .chk-area label {margin-left: 0;}

.processCotent .textProject label.noneLabel {margin-left: 0;}



.processCotent .textProject label.vm {margin-top: 11px;}

.processCotent .textProject.on {
  border: 1px solid #f38f1e;
}

.processCotent .initialInfo {
  padding: 10px 20px;
  box-sizing: border-box;
}

.processCotent .initialInfo .check_p {margin: 10px 0;}

.processCotent .initialInfo .initialInfoTit {
  padding: 10px 0 20px;
  font-size: 18px;
}

.processCotent .initialInfo .initialInfoTit2 {padding: 30px 0 20px;}

.processCotent .initialInfo .initialInfoTit span {color: #f38f1e;}

.processCotent .initialInfo .detailJobDesc {
  padding: 5px 0;
  box-sizing: border-box;
}

.processCotent .initialInfo .detailJobDesc:last-child {
  padding-bottom: 20px;
}

.processCotent .initialInfo .detailJobDesc::before {
  content: "\2027";
}

.processCotent .initialInfo .detailJobDesc.danger {
  text-indent: 10px;
  color: #d74444;
}

.processCotent .initialInfo .detailJobDesc.danger::before {
  content: "\203B";
}

.processCotent .detailInfo {
  padding: 20px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.processCotent .initialInfo .detailInfo {
  padding: 20px 0;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: bold;
}

.processCotent .initialInfo .msg {
  font-family: "Noto Sans KR", NanumGothic, "Malgun Gothic", sans-serif;
  width: 100%;
  height: 200px;
  border: none;
  outline: none;
  resize: none;
  padding: 0 15px!important;
  box-sizing: border-box;
}

.processCotent .dDesc {
  font-size: 14px;
  color: #666;
  padding: 0px 0px 20px;
  box-sizing: border-box;
}

.processCotent .dDesc02 {
  font-size: 14px;
  color: #666;
  padding: 10px 0px 0px;
  box-sizing: border-box;
}

.processCotent .noneLabel {
  background: none;
  width: 100%;
  padding: 0;
}

.processCotent .fileProject {
  padding: 0px 0px;
  display: flex;
  align-items: center;
}

.processCotent .fileDesc {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  height: 50px;
}

.fileClass {display:none;}

.processCotent .fileDesc .fileUploadDesc {
  flex: 4;
  text-indent: 10px;
  color: #999;
  padding-left: 15px;
  font-size: 14px;
}

.processCotent .fileDesc .fileUploadBtn {
  flex: 1;
  height: 50px;
  font-weight: bold;
  background: #333;
  color: #fff;
  outline: none;
  box-sizing: border-box;
  width: 160px; height: 52px; position: absolute; top: -1px; right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0 !important;
  padding-left: 0 !important;
}

.processCotent .addSup li ul.addSupList {
  display: flex;
  align-items: center;
}

.processCotent .addSup li ul.addSupList li {
  padding: 5px 0;
  box-sizing: border-box;
}

.processCotent .addSup li ul.addSupList li.addSupListDesc {
  flex: 3;
}

.processCotent .addSup li ul.addSupList li.addSupListDesc::before {
  content: "\2027";
}

.processCotent .addSup li ul.addSupList li.yes {
  flex: 1;
  display: flex;
}

.processCotent .addSup li ul.addSupList li.yes input, .processCotent .addSup li ul.addSupList li.yes label {
  margin: 0;
  color: #999;
}

.processCotent .addSup li ul.addSupList li.yes input .on, .processCotent .addSup li ul.addSupList li.yes label .on {
  color: #333;
}

.processCotent .addSup li ul.addSupList li.yes .alignC {
  align-items: center;
}
.processCotent .addSup li ul.addSupList li.yes span {color: #999;}
.processCotent .addSup li ul.addSupList li.no {
  flex: 1;
}
.processCotent .addSup li ul.addSupList li.yes input, .processCotent .addSup li ul.addSupList li.no label {color: #999;}
.processCotent .calBudget {
  background: #f4f5f7;
}

.processCotent .calBudget li {
  width: 100%;
  position: relative;
  font-size: 14px;
}

.processCotent .calBudget li ul.calBudgetLi {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.processCotent .calBudget li ul.calBudgetLi li {
  display: flex;
  justify-content: center;
  margin: 2.5px 10px;
}

.processCotent .calBudget li ul.calBudgetLi li span {
  margin-right: 30px;
}

.processCotent .calBudget li ul.calBudgetLi li:nth-child(1) {
  flex: 2;
  margin-right: 40px;
  border: none;
}
.processCotent .calBudget li ul.calBudgetLi li:nth-child(1) select {
  width: 150px!important;    
}
.processCotent .calBudget li ul.calBudgetLi li:nth-child(2) {
  margin-right: 50px;
  flex: 2;
  border: none;
}
.processCotent .calBudget li ul.calBudgetLi li:nth-child(2) select {
    width: 150px!important;    
}
.processCotent .calBudget li ul.calBudgetLi li:nth-child(3) {
  flex: 3;
}

.processCotent .calBudget li ul.calBudgetLi li:nth-child(4) {
  flex: 2;
  border: none;
}
.processCotent .calBudget li ul.calBudgetLi li:nth-child(4) select {
    width: 110px!important; 
}
.processCotent .calBudget li ul.calBudgetLi li:nth-child(5) {
  flex: 2;
  justify-content: start;
  padding-right: 13px;
  box-sizing: border-box;
  border: none;
}
.processCotent .calBudget li ul.calBudgetLi li:nth-child(5) select {
    width: 110px!important;   
}
.processCotent .calBudget li ul.calBudgetLi li img {
  margin: 0 5px;
  vertical-align: middle;
}

.processCotent .calBudget li ul.calBudgetLi li.date_input {padding: 0 15px;}

.processCotent .roundInput {
  border: 1px solid #dfdfdf;
  border-radius: 15px;
  padding: 10px 15px;
  box-sizing: border-box;
  background: #fff;
  height: 40px;
  line-height: 18px;
}

.processCotent .textProject input.datepicker-here {
  width:125px;
  height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: right 18px top 50%;
    background-repeat: no-repeat;
    background-image: url(../admin_img/admin_calender.png);

}

.processCotent .roundInput img {
  width: 15px;
  /* padding-left: 60px; */
  object-fit: contain;
}

.processCotent div.projectTab {
  margin-left: 20px;
  width: calc(100% - 40px);
  display: table;
  box-sizing: border-box;
  border-collapse: collapse;
}

.processCotent div.projectTab ul.projTabRow {
  display: table-row;
}

.processCotent div.projectTab ul.projTabRow li {
  display: table-cell;
  border: 1px solid #ddd;
}

.processCotent div.projectTab ul.projTabRow li.projTabTit {
  width: 20%;
  padding: 20px;
  box-sizing: border-box;
  background: #f7f7f7;
  text-align: center;
}

.processCotent div.projectTab ul.projTabRow li.projTabDesc {
  width: 80%;
  padding: 20px;
  box-sizing: border-box;
}

.processCotent div.comDesc {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.processCotent div.comDesc .comDescImgD {
  padding: 70px 0 40px;
  box-sizing: border-box;
}

.processCotent div.comDesc img.comDescImg {
  object-fit: contain;
}

.processCotent div.comDesc p.comDescTit {
  font-size: 26px;
  font-weight: bold;
  padding: 15px 0 25px;
  box-sizing: border-box;
}

.processCotent div.comDesc p.comDescP {
  color: #666666;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 35px;
}

.processCotent div.comDesc .btnBox .btn01:last-child {
  width: 200px;
}

.processCotent .ResProjDescDetail {
  background: #f4f4f4;
  width: 730px;
  margin: 40px auto 50px;
  padding: 40px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 25px;
}

.processCotent .ResProjDescDetail li {letter-spacing: -1px; margin-bottom: 5px;}

.processCotent .ResProjDescDetail li::before {
  content: "\2027";
}

.processCotent .deadline {
  display: flex;
  align-items: center;
}

.processCotent .deadline li {
  margin: 0px 10px;
}

.processCotent .deadline li.deadlineTit {
  flex: 1;
}

.processCotent .deadline li.roundInputch {
    flex: 2;
    border: 1px solid #dfdfdf;
    border-radius: 15px;
    padding: 0 15px 0 22px;
    box-sizing: border-box;
    text-align: center;
    background: #fff;
    height: 40px;
    line-height: 35px;
}

.processCotent .deadline li.roundInputch .deadlineDate01_1 {
  background: none;
  margin: 0;
  padding: 0;
}

.processCotent .deadline li.deadlineDesc {
  flex: 7;
  padding: 0 15px;
  box-sizing: border-box;
}

.processCotent .deadline li.deadlineDesc>p {
  color: #745e5e;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.processCotent .freeApplicant {
  background-color: #f4f5f7;
}

.processCotent .freeApplicant .appliList {
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-collapse: collapse;
  height: 92px;
}

.processCotent .freeApplicant .appliList li {
    background: #fff;
    border: 1px solid #ddd;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px
}

.processCotent .freeApplicant .appliList li.appliListDesc {
  flex: 8;
  border-right: none;
  height: 62px;
}

.processCotent .freeApplicant .appliList li.appliListDesc input[type="text"] {
  text-indent: 0;
}

.processCotent .freeApplicant .appliList li.appliListBtn {
  flex: 1.5;
  text-align: center;
  display: flex;
  align-items: center;
}

.processCotent .freeApplicant .appliList li.appliListBtn2 {
  padding: 0 20px;
  height: 62px;
  min-width:157px;
}

.processCotent .freeApplicant .appliList li.appliListBtn a {
  /* margin-right: 10px;
  margin-left: 10px; */
  /* margin:0 10px; */
}

.processCotent .freeApplicant .appliList li.appliListBtn a:first-child {
  margin:0 5px 0 10px;
}

.processCotent .freeApplicant .appliList li.appliListBtn a img {
  /* width: 16px;
  height: 16px; */
}

.processCotent .freeApplicant .appliList li.appliListBtn .appliListBtnl {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: url(../admin_img/input_check_off.png) no-repeat center left 10px;
  background-size: contain;
}

.processCotent .freeApplicant .appliList li.appliListBtn .appliListBtnl.on {
  background: url(../admin_img/input_check_on.png) no-repeat center left 10px;
  background-size: contain;
}

.processCotent .bgBlack {
  background: #333;
  color: #fff;
}

.processCotent .qIcon {
  margin-left: 10px;
}

/*# sourceMappingURL=project_reg.css.map */

/* 김지훈 css 0818 */
.list_wrap .paging_wrap {margin: 40px 0 115px;}
.content_info {width: 960px;}
.content_info .title {position: relative; padding: 17px 0; border-bottom: 1px solid #000;}
.content_info .title:after {content:''; display: block; clear:both;}
.content_info .title .pro_num {position: absolute; left: 235px; top: 6px; width: 233px; padding:13px 0; background: #fff; text-align: center; border:1px solid #dddddd;}
.content_info .title .pro_num p {text-align: left; padding-left: 65px; font-size: 16px; color: #666666;}
.content_info .title .pro_num span {display: inline-block; width: 22px; height: 22px; line-height: 22px; background: #e5e5e5; border-radius:50%; font-size: 11px; color: #999; position: absolute; top: 50%; right: 60px; margin-top: -11px;}

.total_num {font-size: 16px; color: #333333; font-weight: 500; /* position: absolute; top: 18px; left: 180px; */ float:left; margin-left: 10px;}
.total_num strong {font-size: 22px; font-weight: bold; color: #f38f1e; margin: 0 2px;}

.content_info .search_div {display: table; width: 100%; margin-top: 21px; display: none;}
.content_info .search_div > div {display: table-cell; vertical-align: middle;}
.content_info .search_div > div.search_wrap {width: 306px; position: relative;}
.content_info .search_div > div.search_wrap input {border:1px solid #ddd; width: 100%; padding-left: 10px; padding-right: 50px; height: 40px; border-radius:5px; font-size: 14px;}
.content_info .search_div > div.search_wrap button {background: #333333 url(../img/search_btn.png) no-repeat center; position: absolute; top: 0; right: 0; width: 40px; height: 40px;}
.content_info .search_div .total_num {font-size: 16px; color: #333333; font-weight: 500;}
.content_info .search_div .total_num strong {font-size: 22px; font-weight: bold; color: #f38f1e; margin: 0 2px;}

.content_info .alert_txt {padding: 15px 0 15px 79px; background: #fff; margin: 13px 0; background:#fff url(../img/alert_img.jpg) no-repeat left 28px center; border-radius:10px; border:1px solid #ddd;}
.content_info .alert_txt ul li {font-size: 14px; font-weight: 500; color: #666; margin: 5px 0;}

.content_info .list_wrap .list {padding: 34px 0; background: #fff; border:1px solid #ddd; border-radius:10px; letter-spacing: -1px; margin-bottom: 18px; transition:all 0.3s;display: flex;}
.content_info .list_wrap .list:last-child {margin-bottom: 0;}
.content_info .list_wrap .list:hover {box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);}
.content_info .list_wrap .list .left_con {width: 725px; border-right: 1px solid #dddddd; padding: 0 45px;}
.content_info .list_wrap .list .left_con .top{display: flex;justify-content: space-between;align-items: center;}
.content_info .list_wrap .list .left_con .top .dday {font-size: 21px; font-weight: 500; color: #333;}
.content_info .list_wrap .list .left_con .top .dday span {color: #da1c1c; margin-left: 8px;}
.content_info .list_wrap .list .left_con .top .top_txt{display: flex;align-items: center;}
.content_info .list_wrap .list .left_con .top .top_txt .date {margin-top: 2px;}
.content_info .list_wrap .list .left_con .top .top_txt .date span {font-size: 13px; color: #666; line-height: 1;}
.content_info .list_wrap .list .left_con .top .top_txt .date span.regi_t {margin-left: 9px; padding-left: 9px; border-left: 1px solid #ddd;}
.content_info .list_wrap .list .left_con .top .top_txt ul {margin-left: 16px;}
.content_info .list_wrap .list .left_con .top .top_txt ul li {float:left; margin: 0 2.5px;}
.content_info .list_wrap .list .left_con .top .top_txt ul li a {display: inline-block; padding: 0 9px; border:1px solid #ddd; text-align: center; line-height: 24px; font-size: 12px; color: #666;}
.content_info .list_wrap .list .left_con > h2.list_title {margin: 20px 0; font-size: 18px; font-weight: 500; overflow: hidden; white-space:nowrap; text-overflow:ellipsis;}
.content_info .list_wrap .list .left_con > h2.list_title span {color: #80786d; margin-right: 3px;}
.content_info .list_wrap .list .left_con .estimation > div {float:left; line-height: 48px; padding: 0 25px 0 50px; border:1px solid #ddd; border-radius:10px; color: #000; font-size: 16px; box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);}
.content_info .list_wrap .list .left_con .estimation > div.price {background: #fff url(../img/money_icon.png) no-repeat left 25px center; margin-right: 12px; padding-left: 55px;}
.content_info .list_wrap .list .left_con .estimation > div.price strong {color: #f38f1e;}
.content_info .list_wrap .list .left_con .estimation > div.date {background: #fff url(../img/time_icon.png) no-repeat left 25px center;}
.content_info .list_wrap .list .left_con .bottom_t {margin-top: 20px; overflow: hidden; white-space:nowrap; text-overflow:ellipsis; padding: 6px 0;}
.content_info .list_wrap .list .left_con .bottom_t .box_t {padding: 4px 6px; font-size: 12px; color: #999999; background: #f3f3f3; border:1px solid #ddd; border-radius:5px;}
.content_info .list_wrap .list .left_con .bottom_t .box_t img {margin: 0 3px;}
.content_info .list_wrap .list .left_con .bottom_t .desc_t {font-size: 14px; color: #666; font-weight: 400; margin-left: 10px; }

.content_info .list_wrap .list .profile_con {text-align: center;flex: 1 1 auto;}
.content_info .list_wrap .list .profile_con .img {border-radius:50%; overflow: hidden; width: 95px; height: 95px; position: relative; margin:0 auto;}
.content_info .list_wrap .list .profile_con .img img {position: absolute; left: 50%; top: 50%; transform:translate(-50%, -50%);}
.content_info .list_wrap .list .profile_con h3 {font-size: 13px; color: #666666; font-weight: 500; margin: 18px 0 14px;}
.content_info .list_wrap .list .profile_con h3 span {font-size: 16px; color: #333333; font-weight: 500;}
.content_info .list_wrap .list .profile_con .talk_btn {display: block; width: 100px; line-height: 26px; color: #fff; background: #80c269 url(../img/weep_talk_icon.png) no-repeat left 14px center; border-radius:3px; text-align: left; font-size: 13px; font-weight: bold; padding-left: 30px; margin: 0 auto;}

/* 프로젝트 지원자 */

.volunteer_wrap .search_div {padding-bottom: 15px; border-bottom: 1px solid #bbb;}

.vol_incu_wrap {position: relative;}
.incu_wrap {border:1px solid #dbdbdb; background: #fff; padding: 28px 24px; padding-right: 190px; position: relative; margin: 15px 0;}
.incu_wrap.on {border:1px solid #f38f1e;}
.incu_wrap .incu_con h2 {font-size: 17px; color: #333; font-weight: 500; cursor:pointer;}
.incu_wrap .incu_con h2 span {color: #df5555; margin-right: 10px;}
.incu_wrap .incu_con h2 .more_btn {display: inline-block; width: 15px; height: 10px; background: url(../img/down_arrow.png) no-repeat center; margin-left: 28px;}

.incu_wrap .incu_con .date span {font-size: 13px; color: #666; line-height: 1;}
.incu_wrap .incu_con .date span.regi_t {margin-left: 9px; padding-left: 9px; border-left: 1px solid #ddd;}

.incu_wrap .incu_con .incu_bottom {margin-top: 10px;}
.incu_wrap .incu_con .incu_bottom > div {float:left;}
.incu_wrap .incu_con .incu_bottom .radio_wrap {margin-left: 38px;}
.incu_wrap .incu_con .incu_bottom .radio_wrap ul li {float:left; height: 20px;}
.incu_wrap .incu_con .incu_bottom .radio_wrap ul li span {color: #666666; font-size: 13px; padding-left: 20px; background: url(../img/vol_off.png) no-repeat left center;}
.incu_wrap .incu_con .incu_bottom .radio_wrap ul li.on span {background: url(../img/vol_on.png) no-repeat left center; color: #333;}
.incu_wrap .incu_con .incu_bottom .radio_wrap ul li.arrow {width: 20px; height: 22px; background:url(../img/arrow_img.png) no-repeat center;}

.incu_wrap .btn {position: absolute; top: 50%; right: 40px; margin-top: -13px;}
.incu_wrap .btn ul li {float:left; margin: 0 2.5px;}
.incu_wrap .btn ul li a {display: inline-block; padding: 0 9px; border:1px solid #ddd; text-align: center; line-height: 24px; font-size: 12px; color: #666;}

.incu_wrap_box {display: none; position: absolute; top: 101px; left: 0; z-index: 1; width: 100%;  background-color: #fff; max-height: 310px; overflow: auto;}
.incu_wrap_box.on { display: block; border: 1px solid #f38f1e; border-top: 1px solid transparent;}

.wrap_box_sub .incu_wrap_tit {font-size: 14px; color: #df5555; padding: 20px 24px; box-sizing: border-box;}
.wrap_box_sub .incu_wrap_list {width: 100%;}
.wrap_box_sub .incu_wrap_list li {width: 100%; padding: 0 24px;}
.wrap_box_sub .incu_wrap_list li::before {content: url('/img/incu_list_icon.png'); margin-right: 10px; line-height: 40px;}

.wrap_box_sub .incu_wrap_list li:hover {background-color:#f2f3f5; cursor: pointer;}




/* 계약 진행 프로젝트 */
.content_info .cl461_wrap .list .left_con .estimation > div.date strong {color: #f38f1e;}
.content_info .sub441_wrap .chk_box {left: 15px; top: 15px;}
.content_info .sub441_wrap .chk_box label {width: 15px; height: 15px; padding-left: 0; margin-right: 0;}
.content_info .sub441_wrap .chk_box input[type='checkbox']:checked + label {padding-left: 0;}
.content_info .sub441_wrap .card_top_tit {margin-bottom: 28px; padding-right: 220px; position: relative;}
.content_info .sub441_wrap .card_top_tit .card_top_tit_detail {}
.content_info .sub441_wrap .card_top_tit .card_top_tit_detail h3 {font-size: 20px; font-weight: bold; overflow: hidden; text-overflow:ellipsis; white-space:nowrap;}
.content_info .sub441_wrap .card_top_tit .date {margin-top: 10px; display: inline-block;}
.content_info .sub441_wrap .card_top_tit .date span {font-size: 13px; color: #666; line-height: 1;}
.content_info .sub441_wrap .card_top_tit .date span.regi_t {margin-left: 9px; padding-left: 9px; border-left: 1px solid #ddd;}
.content_info .sub441_wrap .card_top_tit .right_txt {position: absolute; top: 0; right: 0;}
.content_info .sub441_wrap .card_top_tit .right_txt p {display: inline-block; font-size: 14px; color: #666; font-weight: 500; padding-right: 15px; background: url(../img/name_icon.png) no-repeat right center;}
.content_info .sub441_wrap .card_top_tit .right_txt p strong {font-weight: 600; color: #333;}
.content_info .sub441_wrap .card_top_tit .right_txt a {display: inline-block; width: 68px; line-height: 24px; text-align: center; font-size: 12px; color: #666; border:1px solid #ddd; margin-left: 10px;}

.processCotent .initialInfo textarea.msg2 {width: 100%; resize:none; height: 233px;}
.processCotent .initialInfo .meeting-wrap {border:1px solid #ddd; padding: 20px;}
.processCotent .initialInfo .meeting-wrap .meeting-con {margin-bottom: 20px;}
.processCotent .initialInfo .meeting-wrap .meeting-con:last-child {margin-bottom: 0;}
.processCotent .initialInfo .meeting-wrap .meeting-con h4 {padding: 0; margin-bottom: 20px;}
.processCotent .initialInfo .meeting-wrap .meeting-con input.txt-input {width: 200px; border:1px solid #ddd; margin-left: 10px;height: 25px;vertical-align: middle;}

.price-wrap {border:1px solid #ddd; padding:10px 20px; background: #f4f5f7;}
.price-wrap li {float:left; line-height: 33px;}
.price-wrap li p {line-height: 43px; font-size: 14px; color: #333;}
.price-wrap li .price-input {border:1px solid #ddd; padding: 4px 10px; border-radius:5px; margin: 0 10px; background: #fff;}
.price-wrap li .price-input input {width: 100px; text-align: right;border: none;}



/* MAIN - ADMIN  MATCHING 추가 CSS ------------------------------ START ------------------------------*/
input[type="radio"] {
    display: none;
}
input[type="checkbox"] {
    display: none;
}
.processCotent .textProject span.txt {
    position: absolute;
    font-size: 13px;
    color: #999999;
    bottom: 20px;
    right: 22px;
}
.processCotent .calBudget li ul.calBudgetLi li select {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: solid 1px #dbdbdb;
    background-color: #ffffff;
    letter-spacing: -0.52px;
    text-align: left;
    color: #333333;
    padding-left: 14px;
    font-weight: bold;
    background: url(../admin_img/bg_smail_sel.png) no-repeat center right 7px;
    background-color: #fff;
    font-weight: 400;
    height: 40px;
}
.flex1 {
    flex: 1 !important;
}
.flex2 {
    flex: 2 !important;
}
.processCotent .calBudget li ul.calBudgetLi li:nth-child(6) {
    flex: 2;
}
/* MAIN - ADMIN  MATCHING 추가 CSS ------------------------------  END  ------------------------------*/


/*2020.01.07 수정사항  -------------------------------------------------- START ----------------------------------------------------------------------*/
.basic_info .basic_phone .phone_wrap > * {
    float: left;
}
.basic_info .basic_address .add_wrap > * {
    float: left;
}
.basic_info .basic_homepage .port_div > * {
    float: left;
}
.free_info{width: 900px;}
.free_info .basic_wrap .basic_info ul li > div { margin-right:7px; width: calc( 33.33% - 5px ); position: relative; }
.free_info .basic_wrap .basic_info ul li > div:nth-of-type(3){margin-right: 0;}
.free_info .basic_wrap .basic_info ul li div input { width: 100%; }
.free_info .basic_wrap .basic_info ul li div select { width: 100%; }
.free_info .basic_wrap .basic_info ul li .basic_phone .phone_wrap {
    width: 100%;
}
.free_info .basic_wrap .basic_info ul li .basic_phone input {
    width: calc( 100% - 90px )!important;
}
.free_info .basic_wrap .basic_info ul li:nth-of-type(3) .basic_homepage .port_div{
    width: 100%;
}
.free_info .basic_wrap .basic_info ul li:nth-of-type(3) .basic_homepage input{
    width: calc( 100% - 90px )!important;
}
.free_info .basic_wrap .basic_info ul li .basic_time .sel_box {width: 100%;} 
.free_info .basic_wrap .basic_info ul li .basic_time .sel_box select {width: 45%;} 
.free_info .basic_wrap .basic_info ul li .basic_time .sel_box .middle {width: 10%; margin: 0;} 
.free_info .basic_wrap  .basic_info ul li > .basic_company .out_input label { margin-bottom: 0; }
.free_info .basic_wrap .basic_info ul li > .basic_company .out_input label.custom-control { margin-right: 10px; padding-left: 23px; }
.custom-control input:checked ~ i {
    background: url(../img/l_hide_on1.png) no-repeat center/contain;
}
.custom-control i {
    display: block;
    width: 20px;
    height: 20px;
    background: url(../img/l_hide_off.png) no-repeat center/contain;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -10px;
}
.free_info .basic_wrap .basic_info ul li > .basic_company .out_input label.custom-control i { top: 10px; background-size: 17px; }
.free_info .basic_wrap .basic_info ul li .basic_company .box-select-data {
    display: flex;
    width: 100%;
}
.free_info .basic_wrap .basic_info ul li .basic_company .box-select-data .out_input{
    margin: 0 0 0 20px; 
    display: flex;
    width: 70%;
    height: 20px;
}
.free_info .basic_wrap .basic_info ul li .basic_address {
    width: 100%;
}
.free_info .basic_wrap .basic_info ul li .basic_address .add_wrap{
    width: 100%;
}
.free_info .basic_wrap .basic_info ul li .basic_address .add_wrap input{
    width: calc( 100% -  120px );
}
.free_info .basic_wrap .basic_info ul li .basic_address2 {
    width: 100%;
}
.free_info .basic_wrap .basic_info ul li .basic_homepage .port_div {
    width: 100%;
}
.free_info .basic_wrap .basic_info ul li .basic_homepage .port_div input {
    width: 100%;
}
.free_info .basic_wrap .basic_info ul li:nth-last-child(1) .basic_homepage .port_div input{
    width: calc( 100% - 90px );
}
.free_info .basic_wrap .basic_info ul li > .basic_partner .out_input {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border: 1px solid #dddddd;
}
.free_info .basic_wrap .basic_info ul li > .basic_partner .out_input label{
    margin-bottom: 0;
}
.out_input span {
    margin-right: 7px;
    width: auto;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
}
.custom-control {
    display: inline-block;
    padding-left: 28px;
    position: relative;
}

.free_info .session_wrap {
    margin: 20px 0;
}
.basic_info ul li {
    margin-bottom: 16px;
}
.basic_info ul li > div {
    float: left;
    margin-right:7px;
    margin-bottom: 14px;
}
.basic_info label {
    display: block;
    margin-bottom: 14px;
    font-weight: 400; /*2020.01.08*/
    font-size: 14px; /*2020.01.08*/
}
.basic_info input, .basic_info select {
    height: 50px;
    border: 1px solid #ddd;
    padding: 0 15px;
    font-size: 14px;
    box-sizing: border-box;
}
.basic_info .w269 {
    width: 269px;
}
.basic_info .basic_time .sel_box select {
    border: none;
    width: 132px;
}
.basic_info select {
    color: #999;
    appearance: none;
    -webkit-appearance: none;
    background: url(../admin_img/select_arrow.png) no-repeat right 14px center;
}
.basic_info .basic_time .sel_box > * {
    float: left;
}
.basic_info .basic_time .sel_box .middle {
    height: 50px;
    line-height: 50px;
    width: 25px;
    text-align: center;
}
.basic_info .basic_time .sel_box {
    border: 1px solid #ddd;
}
.basic_info .w176 {
    width: 197px;
}
.basic_info .w270 {
    width: 268px;
}
.free_info>form>.time_wrap>.lef{
    width: 48%;
}
.free_info>form>.time_wrap>.ref{
    width: 48%;
}
.basic_info .basic_homepage .port_div input {
    width: 296px;
}
.basic_info .basic_address .add_wrap input[type='text'] {
    border: 1px solid #ddd;
    width: 758px;
}
.basic_info .basic_address2 {
    display: block;
    float: none !important;
    margin-top: 10px;
}
.basic_info .basic_address .add_wrap a {
    background: #333;
    color: #fff;
    position: relative;
    width: 120px;
    height: 50px;
    font-size: 14px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    top: 0px; /*2020.01.08*/
}
.basic_info .basic_phone .certi_div a {
    display: inline-block;
    width: 124px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
}
.basic_info .basic_phone .certi_div a.ent_btn {
    background: #f3f3f3;
    color: #666;
    border: 1px solid #dbdbdb;
    border-left: 0;
}
.basic_info .basic_phone .certi_div .time_t {
    border: 1px solid #dbdbdb;
    width: 124px;
    height: 50px;
    line-height: 50px;
    border-left: 0;
    text-align: center;
    color: #999;
    font-size: 14px;
}
.basic_info .basic_phone .certi_div input {
    width: 161px;
    float: left;
}
.basic_info .basic_phone .certi_div {
    margin-top: 10px;
    display: none;
}
.basic_info .basic_address2 input[type='text'] {
    width: 878px;
}
.free_info .session_wrap .session_btn {
    display: inline-block;
    font-size: 14px;
    color: #666666;
    border: 1px solid #ddd;
    width: 80px;
    line-height: 30px;
    text-align: center;
}
.free_info .confirm_wrap {
    text-align: center;
    margin-top: 45px;
}
.free_info .confirm_wrap button {
    width: 145px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    background: #333;
    font-size: 16px;
    font-weight: 500;
}
.skillHistory li div dl.w100{
  width: 100%!important;
}
.alarm_wrap .alarm_wrap2 {
    border: 1px solid #ddd;
    padding: 25px 32px;
    padding-right: 10px;
}
.alarm_wrap .alarm_con .title {
    margin-bottom: 20px;
}
.alarm_wrap .alarm_con .title h4 {
    font-size: 14px;
    color: #333;
    font-weight: bold;
}
.alarm_wrap .alarm_con .title .left h4 {
    font-size: 16px;
}
.alarm_wrap .alarm_con .title .right {
    float: right !important;
    width: 200px;
}
.alarm_wrap .alarm_con .title .right h4 {
    float: left;
    width: 50%;
    text-align: center;
}
.alarm_wrap .alarm_con2 {
    margin-top: 50px;
}
.alarm_detail .row {
    display: table;
    width: 100%;
    margin-bottom: 20px;
}
.alarm_wrap .alarm_con .row {
    margin: 0 0 20px 0;
}
.alarm_detail .row {
    display: table;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}
.alarm_detail .row > div {
    display: table-cell;
    vertical-align: middle;
}
.alarm_detail .row > .left {
    font-size: 14px;
    color: #333;
    font-weight: 400;
}
.alarm_detail .right {
    float: right;
}
.alarm_detail .row > .right {
    width: 200px;
}
.alarm_detail .row > .right > div {
    float: left;
    width: 50%;
    text-align: center;
}
.alarm_wrap .alarm_con .use label {
    opacity: 1;
    position: relative;
    display: inline-block;
    height: 21px;
    width: 46px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    margin-top: 0 !important;
}
.alarm_wrap .alarm_con .use label i {
    position: absolute;
    left: 0;
    top: 0px;
    display: inline-block;
    height: 21px;
    width: 46px;
    background-color: #e9e9e9;
    border-radius: 30px;
    z-index: 1;
}
.alarm_wrap .alarm_con .use label i::before {
    content: "";
    display: block;
    height: 13px;
    width: 13px;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 2px rgb(0 0 0 / 10%);
    box-shadow: 2px 2px 2px rgb(0 0 0 / 10%);
    position: absolute;
    left: 7px;
    top: 4px;
    border-radius: 50%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.alarm_wrap .alarm_con .use label input[type="checkbox"]:checked + i {
    background: #6876b5;
}
.alarm_wrap .alarm_con .use label input[type="checkbox"]:checked + i::before {
    left: calc(100% - 20px);
}
.list-check01{display: none;}
.list-check02{display: none;}
.list-check01.on{display: block;}
.list-check02.on{display: block;}
/*2020.01.07 수정사항  --------------------------------------------------  END  ----------------------------------------------------------------------*/