@charset "UTF-8";
@font-face { font-family: 'yg-jalnan'; src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff") format("woff"); font-weight: normal; font-style: normal; }

body { font-family: "Noto Sans KR", NanumGothic, "Malgun Gothic", sans-serif; color: #333; line-height: 1.4; word-break: keep-all !important; letter-spacing: -0.4px; scroll-behavior: smooth; font-size: 14px; }

body.body-main { min-width: 1550px; }

* { box-sizing: border-box; }

a { text-decoration: none; color: inherit; }

.simplebar-scrollbar::before { background: #000; }

select { -moz-appearance: none; appearance: none; -webkit-appearance: none; border: none; }

select::-ms-expend { opacity: 0; }

input, select { font-family: "Noto Sans KR", NanumGothic, "Malgun Gothic", sans-serif; letter-spacing: -0.4px; }

.btns-center { text-align: center; }

.btns-center .btn { vertical-align: top; margin: 0 3px; }

.btn { height: 34px; min-width: 90px; line-height: 32px; display: inline-flex; font-size: 14px; font-weight: 400; text-align: center; border: 1px solid transparent; padding-left: 20px; padding-right: 20px; align-items: center; justify-content: center; }

.btn i { vertical-align: middle; margin-right: 5px; }

.btn img { vertical-align: middle; margin-right: 5px; }

.btn-sm { height: 27px; line-height: 25px; }

.btn-lg { height: 50px; line-height: 48px; min-width: 100px; padding-left: 30px; padding-right: 30px; font-size: 16px; }

.btn-lg .icon-star { width: 20px; height: 20px; }

.btn-lg.w-110px { width: 110px; padding-left: 0; padding-right: 0; }

.btn-block { display: block; }

.btn-dark { background: #333; border-color: #333; color: #fff; }

.btn-orange { background: #f38f1e; border-color: #f38f1e; color: #fff; }

.btn-gray { background: #f7f7f7; border-color: #ddd; color: #333; }

.btn-outline-dark { background: #fff; border-color: #333; color: #333; }

.btn-outline-gray { background: #fff; border-color: #ddd; color: #666; }

.text-orange { color: #f38f1e !important; }

.text-blue { color: #6876b5 !important; }

.text-green { color: #8bc135 !important; }

.text-pink { color: #f15e5e !important; }

.text-purple { color: #1cabc7 !important; }

.text-sky { color: #8e6bbe !important; }

.text-red { color: #de3030 !important; }

.text-small { font-size: 13px; }

.text-13px { font-size: 13px; }

.text-14px { font-size: 14px; }

.text-16px { font-size: 16px; }

.text-left { text-align: left !important; }

.text-center { text-align: center !important; }

.text-right { text-align: right !important; }

.vertical-align-top { vertical-align: top !important; }

.vertical-align-middle { vertical-align: middle !important; }

.bd-r-0 { border-right: 0 !important; }

.w-30p { width: 30%; }

.w-40p { width: 40%; }

.w-60p { width: 60%; }

.w-70p { width: 70%; }

.w-110px { width: 110px; }

.w-150px { width: 150px; }

.w-160px { width: 160px; }

.w-100p { width: 100% !important; }

.min-w-170px { min-width: 170px; }

.min-w-230px { min-width: 230px; }

.max-w-35p { max-width: 35% !important; }

.max-w-40p { max-width: 40% !important; }

.max-w-45p { max-width: 45% !important; }

.max-w-50p { max-width: 50% !important; }

.max-w-55p { max-width: 55% !important; }

.max-w-60p { max-width: 60% !important; }

.max-w-65p { max-width: 65% !important; }

.max-w-70p { max-width: 70% !important; }

.sr-only { border: 0; clip: rect(0, 0, 0, 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.badge { display: inline-block; padding: 4px 10px 0; line-height: 1; height: 22px; font-size: 12px; text-align: center; font-weight: 700; border-radius: 50em; -webkit-border-radius: 50em; -moz-border-radius: 50em; -ms-border-radius: 50em; -o-border-radius: 50em; border: 1px solid #333; }

.badge + .badge { margin-left: 5px; }

.badge-sm { padding: 1px 6px 0; height: 18px; line-height: 1; letter-spacing: -0.3px; font-weight: 400; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; }

.badge-orange { background: #f38f1e; border-color: #f38f1e; color: #fff; min-width:48px }

.badge-gray { background: #bfbfbf; border-color: #bfbfbf; color: #fff; }

.badge-pink { background: #f15e5e; border-color: #f15e5e; color: #fff; }

.badge-blue { background: #6876b5; border-color: #6876b5; color: #fff; }

.badge-green { background: #8bc135; border-color: #8bc135; color: #fff; }

.badge-red { background: #de3030; border-color: #de3030; color: #fff; }

.badge-purple { background: #1cabc7; border-color: #1cabc7; color: #fff; }

.badge-sky { background: #8e6bbe; border-color: #8e6bbe; color: #fff; }

.badge-outline-orange { color: #f38f1e; border-color: #f38f1e; }

.badge-outline-green { color: #80c269; border-color: #80c269; }

.badge-outline-blue { color: #00a0e9; border-color: #00a0e9; }

.badge-outline-red { color: #d62d2d; border-color: #d62d2d; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; }

.badge-outline-pink { color: #f26d7d; border-color: #f26d7d; }

.badge-outline-purple { color: #1cabc7; border-color: #1cabc7; }

.badge-outline-sky { color: #8e6bbe; border-color: #8e6bbe; }

.badge-1 { background: #8bc135; border-color: #8bc135; color: #fff; }
.badge-2 { background: #1cbbb4; border-color: #1cbbb4; color: #fff; }
.badge-3 { background: #008cd0; border-color: #008cd0; color: #fff; }
.badge-4 { background: #f26d7d; border-color: #f26d7d; color: #fff; }

.badge-new { background: #dd4551; border-color: #dd4551; color: #fff; }

/* 페이지 타이틀 */
.page-top { display: flex; align-items: center; justify-content: space-between; margin-bottom: 17px; }

.page-top .page-title { padding-bottom: 0; }

.page-top .page-title h2 { padding-bottom: 0; font-size: 24px; color: #333; letter-spacing: -0.96px; line-height: 1.17; font-weight: 700; }

.page-top .page-title .number { display: inline-block; font-size: 14px; }

.page-top .page-title .number span { color: #f38f1e; }

.page-top .page-title .desc { font-size: 14px; margin-top: 17px; }

.page-sub-title { font-size: 20px; font-weight: 500; margin-bottom: 25px; }

.byte { font-size: 14px; color: #888; }

.form-control-wrap { position: relative; }

input.form-control { display: inline-block; width: 100%; font-size: 13px; line-height: 1.4; color: #333; background-color: #fff; border: 1px solid #ddd; height: 50px; padding: 12px 18px; }

input.datepicker-here { padding: 12px 42px 12px 18px; -webkit-appearance: none; -moz-appearance: none; background-position: right 18px top 50%; background-repeat: no-repeat; background-image: url("../img/date.png"); }

select, select.form-control { border: 1px solid #ddd; height: 50px; padding: 7px 30px 8px 18px; -webkit-appearance: none; -moz-appearance: none; background-position: right 18px top 50%; background-repeat: no-repeat; background-image: url("../img/bg_smail_sel.png"); background-color: #ffffff; }

select:focus::-ms-value, select.form-control:focus::-ms-value { color: #333; background-color: #fff; }

select.form-control-sm, select.form-control.form-control-sm { height: 34px; padding-right: 40px; }

.board-search .btn { font-size: 14px; }

.right_content { margin: 20px 20px 20px 240px; padding: 45px; }

[class^=icon-] { display: inline-block; background-size: contain; background-repeat: no-repeat; background-position: 50% 50%; }

.icon-file { background-image: url("../img/files.png"); width: 18px; height: 23px; }

.icon-star { background-image: url("../img/star-icon.png"); width: 25px; height: 24px; }

.icon-star.icon-star-sm { width: 16px; height: 16px; }

.icon-star.on { background-image: url("../img/star.png"); }

.btn-icon { line-height: 1; }

.btn-icon > .icon-star { vertical-align: top; }

.icon-quotes { background-image: url("../img/quotes_bg.png"); width: 45px; height: 35px; }

.icon-help { background-image: url("../img/bg_wrap_mi.png"); width: 21px; height: 21px; }

.icon-eye { background-image: url("../img/icon-eye.png"); width: 18px; height: 18px; }

.custom-control { display: inline-block; padding-left: 28px; position: relative; margin-right: 20px; min-height: 15px}

.custom-control input { opacity: 0; position: absolute; left: -99999px; font-size: 0; }

.custom-control i { display: block; width: 20px; height: 20px; background: url(../img/l_hide_off.png) no-repeat center/contain; position: absolute; left: 0; top: 50%; margin-top: -10px;}

.custom-control input:checked ~ i { background: url(../img/l_hide_on1.png) no-repeat center/contain; }

.custom-control-radio-circle { padding-left: 22px; }

.custom-control-radio-circle i { width: 15px; height: 15px; background-image: url("../img/bg_radio_gender_off.png"); margin-top: -7.5px;}

.custom-control-radio-circle input:checked ~ i { background: url("../img/bg_radio_gender_on.png") no-repeat center/contain; }

.custom-control-checkbox i { background-image: url("../img/input_check1_off.png"); }

.custom-control-checkbox input:checked ~ i { background: url("../img/input_check1_on.png") no-repeat center/contain; }

.custom-control-checkbox-square i { width: 15px; height: 15px; background-image: url("../img/input_check1_off.png"); margin-top: -7.5px;}

.custom-control-checkbox-square input:checked ~ i { background: url("../img/input_check1_on.png") no-repeat center/contain; }

.custom-control.mr-0 {padding-left: 15px;}

.table { width: 100%; }

.table th, .table td { padding: 15px; }

.table thead th { background: #f4f5f7; font-weight: 500; text-align: center; }

.table-bordered th, .table-bordered td { border: 1px solid #ddd; }

.table-fixed { table-layout: fixed; }

.select-point { position: relative; }

.select-point .form-control { margin-bottom: 20px; height: 45px; border: solid 3px #6c7cb8; background-color: #ffffff; width: 100%; font-size: 16px; color: #666666; padding-top: 8px; padding-bottom: 8px; }

.select-point .view { background: url("../img/bg_office_sch.png") no-repeat; width: 45px; height: 45px; position: absolute; right: 0; top: 0; background-color: #6c7cb8; display: flex; background-position: center; }

.tab ul { display: -ms-flexbox; display: flex; }

.tab li { -ms-flex-preferred-size: 0; flex-basis: 0; -ms-flex-positive: 1; flex-grow: 1; max-width: 100%; }

.tab a { display: block; padding: 15px 0; color: #999999; text-align: center; background: #fff; font-size: 16px; border: 1px solid #ddd; border-right: none; transition: all .15s ease-in-out; }

.tab a b { display: inline-block; width: 26px; height: 25px; background-color: #e5e5e5; border-radius: 50%; color: #999; vertical-align: middle; line-height: 24px; text-align: center; position: relative; left: 2px; top: -2px; font-size: 12px; }

.tab li:last-of-type a { border-right: 1px solid #ddd; }

.tab li:last-of-type a.on { border-right: 1px solid #6876b5; }

.tab a.on { color: #fff; background: #6876b5; border: 1px solid #6876b5; }

.tab a.on b { background: #fff; color: #6c7cb8; }

.tab .use { position: relative; top: 9px; }

.tab .use label { position: relative; display: inline-block; height: 27px; width: 50px; cursor: pointer; -webkit-tap-highlight-color: transparent; margin-top: 0 !important; }

.tab .use label input[type="checkbox"]:checked + i { background: #6876b5; }

.tab .use label input[type="checkbox"]:checked + i::before { left: calc(100% - 25px); }

.tab .use label i { position: absolute; left: 0; top: 0px; display: inline-block; height: 27px; width: 50px; background-color: #e9e9e9; border-radius: 30px; z-index: 1; }

.tab .use label i::before { content: ""; display: block; height: 20px; width: 20px; background-color: #fff; -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); position: absolute; left: 4px; top: 3px; border-radius: 50%; transition: all 0.5s; -webkit-transition: all 0.5s; }

.text-underline { text-decoration: underline; }

.text-help { font-size: 13px; margin-top: 10px; color: #333; }











